{% extends 'snippet/layout.html' %}
{% load dforum_extras %}
{% load dforum_extras %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/codehilite.css" />
{% endblock %}
{% block main %}
    <div class="replies-lists container-box user-replies">
        <div class="ui-header">
            <span class="bread-nav">F2E › {{ user.username }} › 回复列表</span>
        </div>

        <div class="ui-content">
            {% for reply in replies %}
                <div class="reply-item">
                    <div class="main">
                        <span class="title">
                            回复了 {{ reply.topic.author.username }} 创建的主题 <a href="/t/{{ reply.topic.id }}/">{{ reply.topic.title }}</a>
                        </span>
                        <div class="content">
                            {{ reply.content|markdown|content_process|safe }}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% ifequal reply_page.total 0 %}
                <div class="pl10 pr10">
                    <div class="alert mt20 no-replies">
                        该用户暂时还没有回复过主题。
                    </div>
                </div>
            {% endifequal %}
        </div>

        <div class="ui-footer">
            {% if reply_page.pages > 1 %}
            <div class="pagination">
                {% pagination reply_page request.get_full_path %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="usercard container-box">
        <div class="ui-header">
            <a href="/u/{{ user.username }}/">
                <img src="/static/avatar/m_{% if user.avatar %}{{ user.avatar }}{% else %}default.png{% endif %}?t={% gen_random %}" alt="" class="avatar" />
            </a>
            <div class="username">{{ user.username }}</div>
            <div class="website"><a href="{% if user.website %}{{ user.website }}{% endif %}">{% if user.website %}{{ user.website }}{% endif %}</a></div>
        </div>
        <div class="ui-content">
            <div class="status status-topic">
                <strong><a href="/u/{{ user.username }}/topics/">{{ counter.topics }}</a></strong> 主题
            </div>
            <div class="status status-reply">
                <strong><a href="/u/{{ user.username }}/replies/">{{ counter.replies }}</a></strong> 回复
            </div>
            <div class="status status-favorite">
                <strong><a href="/u/{{ user.username }}/favorites/">{{ counter.favorites }}</a></strong> 收藏
            </div>
            <div class="status status-reputation">
                <strong>{% if user.reputation %}{{ user.reputation }}{% else %}0{% endif %}</strong> 威望
            </div>
        </div>
    </div>
</div>
{% endblock %}






        {% load dforum_extras %}
        {% if page and page.pages > 1 %}
            <ul>
                <li {% ifequal page.index page.prev %}class="disabled"{% endifequal %}><a href="{% build_uri uri 'p' page.prev %}">«</a></li>
                {% for p in gen_page_list %}
                    <li {% ifequal page.index p %}class="active"{% endifequal %}>
                        {% ifnotequal page.index p %}
                            <a href="{% build_uri uri 'p' p %}">{{ p }}</a>
                        {% else %}
                            <a href="javascript:;">{{ p }}</a>
                        {% endifnotequal %}
                    </li>
                {% endfor %}
                <li {% ifequal page.index page.next %}class="disabled"{% endifequal %}><a href="{% build_uri uri 'p' page.next %}">»</a></li>
            </ul>
        {% endif %}